/* @import url("photographer.css");
@import url("flex.css"); */

/* font-family: 'Lato', sans-serif; */
/* font-family: 'Roboto', sans-serif; */

.test
{
    border: 1px solid red;
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin: 0;
}


/* --------------------------------------------------------------------------------- */
.logo
{
    height: 93px;
    margin-top: 42px;
}


/* --------------------------------------------------------------------------------- */
/* barre de recherche */
.search-bar
{
    height: 70px;
    width: 100%;
    position: relative;
}
.search-bar > input
{
    height: 70px;
    width: 100%;
    background-color: #E7E7E7;
    border: none;
    outline: none;
    border-radius: 8px;
    padding-left: 20px;
    font-size: 18px;
}
.search-bar > button
{
    height: 70px;
    width: 70px;
    position: absolute;
    right: 0;
    font-size: 32px;
    border: none;
    outline: none;
    background-color: #E7E7E7;
    border-radius: 8px;
}


/* --------------------------------------------------------------------------------- */
/* Zone Filtres TAGS*/
.zone-filtres
{
    display: flex;
    flex-direction: row;
}
.filtres-actifs > div
{
    display: flex;
    justify-content: space-between;
    margin-right: 1em;
}



/* Zone Filtres DROPDOWNS*/
.dropdown
{
    margin-right: 2em !important;
}
.dropdown > form > input
{
    outline: none;
    border: none;
    background-color: transparent;
    color: white;
}
.dropdown > form > input::placeholder
{
    color: white;
}
.dropdown-menu
{
    width: 50vw;
}
@media (max-width: 992px)
{
    .zone-filtres
    {
        flex-direction: column;
    }
    .dropdown-menu
    {
        width: 90vw;
    }
}

/* --------------------------------------------------------------------------------- */
/* articles des recettes */
.image
{
    height: 300px;
    width: 100%;
    background-color: grey;
    border-radius: 8px 8px 0 0;
    object-fit: cover;
}
.descriptif
{
    background-color: #E7E7E7;
    padding: 0;
    margin: 0;
    border-radius: 0 0 8px 8px;
}
.titre
{
    font-size: 18px;
}
.time
{
    font-size: 18px;
}
.time > i
{
    font-size: 20px;
}
.liste
{
    list-style: none;
    font-size: 12px;
    font-weight: 400;
}
.texte
{
    font-size: 12px;
    font-family: 'Roboto', sans-serif; 
    max-height: 150px;
    overflow: auto;
    text-overflow: ellipsis;
}
@media (max-width: 992px)
{
   
}


/* --------------------------------------------------------------------------------- */
/* boutton en bas à droite pour remonter en haut de la page */
.return-top
{
    position: fixed;
    right: 1%;
    bottom: 1%;
}
.return-top > i
{
    font-size: 50px;
    color: grey;
}