/* @import url("photographer.css");
@import url("flex.css"); */

/* font-family: 'Lato', sans-serif; */
/* font-family: 'Roboto', sans-serif; */

.test
{
    border: 1px solid red;
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all ease-in-out 300ms;
}

body
{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin: 0;
}


/* --------------------------------------------------------------------------------- */
/* LOGO */
.logo
{
    height: 93px;
    margin-top: 42px;
}


/* --------------------------------------------------------------------------------- */
/* BARRE DE RECHERCHE */
.search-bar
{
    height: 70px;
    width: 100%;
    position: relative;
}
.search-bar > input
{
    height: 70px;
    width: 100%;
    background-color: #E7E7E7;
    border: none;
    outline: none;
    border-radius: 8px;
    padding-left: 20px;
    font-size: 18px;
}
.search-bar > button
{
    height: 70px;
    width: 70px;
    position: absolute;
    right: 0;
    font-size: 32px;
    border: none;
    outline: none;
    background-color: #E7E7E7;
    border-radius: 8px;
}


/* --------------------------------------------------------------------------------- */
/* Zone Filtres TAGS*/
.zone-filtres
{
    display: flex;
    flex-direction: row;
}
.filtres-actifs > div
{
    display: flex;
    justify-content: space-between;
    margin-right: 1em;
}

.tag-ingredients, .tag-appareils, .tag-ustensiles
{
    color: white;
}
.bg-bleu, .tag-ingredients
{
    background-color: #3282F7;
}
.bg-vert, .tag-appareils
{
    background-color: #5ec796;
}
.bg-rouge, .tag-ustensiles
{
    background-color: #ED6454;
}
.bg-bleu:hover, .tag-ingredients:hover
{
    background-color: #2c75e2;
}
.bg-vert:hover, .tag-appareils:hover
{
    background-color: #4a9e77;
}
.bg-rouge:hover, .tag-ustensiles:hover
{
    background-color: #d65a4c;
}





/* Zone Filtres DROPDOWNS*/
.dropdowns
{
    position: relative;
    display: inline-block;
    color: white;
    margin-right: 2%;
}
.dropdown-content
{
    display: none;
    position: absolute;
    z-index: 1;
    width: 100%;
}
.dropdown-input
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dropdown-input > input
{
    outline: none;
    border: none;
    background-color: transparent;
    color: white;
}
.dropdown-input > input::placeholder
{
    color: white;
}
.dropdown-content
{
    width: 100%;
}
.show
{
    display: block;
    display: flex;  
}


/* --------------------------------------------------------------------------------- */
/* articles des recettes */
.image
{
    height: 300px;
    width: 100%;
    background-color: grey;
    border-radius: 8px 8px 0 0;
    object-fit: cover;
}
.descriptif
{
    background-color: #E7E7E7;
    padding: 0;
    margin: 0;
    border-radius: 0 0 8px 8px;
}
.titre
{
    font-size: 18px;
}
.time
{
    font-size: 18px;
}
.time > i
{
    font-size: 20px;
}
.liste
{
    list-style: none;
    font-size: 12px;
    font-weight: 400;
}
.texte
{
    font-size: 12px;
    font-family: 'Roboto', sans-serif; 
    max-height: 150px;
    overflow: auto;
    text-overflow: ellipsis;
}
@media (max-width: 992px)
{
   
}


/* --------------------------------------------------------------------------------- */
/* boutton en bas à droite pour remonter en haut de la page */
.return-top
{
    position: fixed;
    right: 1%;
    bottom: 1%;
}
.return-top > i
{
    font-size: 50px;
    color: grey;
}